
.logo {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;

	img {
		width: 100px;
		text-align: center;
	}

	@media #{$breakpoint-md} {
		margin-top: 0px;
		margin-right: 50px;
		float: left;
		margin-bottom: 0;
		
		img {
			width: 195px;
		}

	}

}

.inner-content {

	@media #{$breakpoint-md} {
		margin-top: calc(100vh / 2 - 150px );
		text-align: left;
	}

	text-align: center;
}