
@font-face {
  font-family: biotif-regular;
  src: url(../fonts/Biotif-Regular.otf); }
@font-face {
  font-family: biotif-bold;
  src: url(../fonts/Biotif-Bold.otf); }
body {
  font-family: 'biotif-regular';
  font-size: 16px;
  color: #333333; }

p {
  line-height: 26px;
  margin-top: 0; }

.sr-only {
	visibility: hidden;
}