h2, .h2--project {
	font-family: "Lapture";
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 16px;

	@media #{$breakpoint-md} {
		font-size: 48px;
	}
}

.text--meta {
	margin-bottom: 18px;
}

.text--teaser {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 50px;

	@media #{$breakpoint-md} {
		font-size: 18px;
		line-height: 32px;
	}
}