@font-face {
  font-family: biotif-regular;
  src: url(../fonts/Biotif-Regular.otf); }
@font-face {
  font-family: biotif-bold;
  src: url(../fonts/Biotif-Bold.otf); }
body {
  font-family: 'biotif-regular';
  font-size: 16px;
  color: #333333; }

p {
  line-height: 26px;
  margin-top: 0; }

.sr-only {
  visibility: hidden; }

* {
  margin: 0;
  padding: 0; }

h2, .h2--project {
  font-family: "Lapture";
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 16px; }

.text--meta {
  margin-bottom: 18px; }

.text--teaser {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 50px; }

.link--featured {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  position: relative;
  display: inline;
  font-weight: 900; }

.link--featured svg {
  z-index: 1;
  transition: transform 0.3s ease;
  vertical-align: middle; }

.link--featured svg g line,
.link--featured svg g polyline,
.link--featured svg g circle {
  fill: none;
  stroke: #000; }

.link--featured svg g line,
.link--featured svg g polyline {
  stroke-miterlimit: 10; }

.link--featured svg g circle {
  transform: translateX(0);
  display: block;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset ease-out 0.5s; }

.link--featured:hover svg {
  -webkit-transform: translateZ(0) translateX(0.5em);
  transform: translateZ(0) translateX(0.5em);
  transition: transform 0.3s ease; }

.link--featured:hover svg g circle {
  stroke-dashoffset: 200; }

.link--featured span {
  margin-right: 20px;
  vertical-align: middle; }

body {
  background: #FFF7F0; }

.projects {
  height: 100%;
  margin-left: 200px;
  margin-right: 200px; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%; }

.button {
  z-index: 10;
  position: absolute; }

.slide:nth-child(1) {
  z-index: 9; }

.slide:nth-child(3) {
  z-index: 7; }

.active.slide {
  height: 100%; }

.slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.copy {
  transform: translateY(10px);
  width: 400px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin-right: 150px; }

.project__year {
  visibility: hidden;
  transform: rotate(90deg);
  position: absolute;
  top: 44px;
  right: -80px;
  font-weight: 700;
  font-size: 14px;
  transition: opacity 0s ease;
  font-family: "Lapture"; }

.project__year__line {
  margin-right: 72px;
  vertical-align: top;
  text-align: left; }
  .project__year__line:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 24px;
    height: 1px;
    width: 54px;
    background: #333333; }

.slide.active .project__year {
  visibility: visible;
  transition: opacity 0s ease; }

.slide.active .copy {
  transform: translateY(0px);
  transition: transform 0.7s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1; }

.active.slide .project__image-wrap img {
  opacity: 1;
  transition: all 0.7s ease; }

.project__image-wrap img {
  opacity: 0;
  transition: all 0.7s ease; }

.project__image-wrap {
  width: 400px;
  position: relative; }

.project__image-wrap img {
  width: 100%; }

.project__image-clip {
  -webkit-clip-path: url("#h-clip");
  clip-path: url("#h-clip"); }

.clip-svg {
  width: 0;
  height: 0; }

.pagination {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 20; }
  .pagination a {
    display: block; }

.text--meta {
  font-size: 14px; }

.pagination__link {
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  background: #ffdcbd;
  border: 1px solid #FFF7F0; }

.pagination__link.active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #333333;
  position: relative;
  background: #FFF7F0; }
  .pagination__link.active:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    background: #ffa557;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    text-align: center;
    margin: auto; }

/*# sourceMappingURL=style.css.map */
